body {
  padding: 20px;
  margin: 0;
  font-family: Arial, sans-serif;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -24px;
  font-weight: bold;
  width: 500px;
  text-align: center;
  display: block;
  font-size: 48px;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.container-nav {
  -webkit-box-flex: 0 0 300px;
  -moz-box-flex: 0 0 300px;
  -webkit-flex: 0 0 300px;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;

  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}

.filters {
  list-style: none;
  padding-left: 10px;
}

.remove {
  float: right;
  cursor: pointer;
  opacity: 0.5;
}

.filter:hover .remove {
  opacity: 1;
}

.remove:after {
  content: '\d7';
}

.wallpaper-entry {
  width: 340px;
  height: 380px;
  overflow: auto;
  text-align: center;
  display: inline-block;
}

.wallpaper-thumb {
  width: 320px;
  height: 320px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.resolution {
  color: #666;
}

.navigation {
  clear: both;
  padding-top: 10px;
}
